@font-face {
    font: {
        family: default-font;
        weight: normal;
        style: normal;
    }
    src: url("./fonts/belleza_regular.woff") format("woff"),
    url("./fonts/belleza_regular.ttf") format("truetype");
}
