@import "logo-font";

.logo {
    font-family: logo-font;
    margin-top: 1em;
    margin-bottom: 1em;
    text-align: center;
    color: #f1c101;
    font-size: 54em;
    line-height: 1em;
    font-weight: normal;
    text-shadow: -0.02em -0.02em 0.02em #b69202,
                0.01em 0.01em 0.02em #b69202,
                -0.05em -0.05em 0 #000,
                -0.05em 0.05em 0 #000,
                0.05em -0.05em 0 #000,
                0.05em 0.05em 0 #000,
                0.05em 0.07em 0.06em #000,
                -0.05em 0.07em 0.06em #000;

    &.small {
        font-size: 20em;
        text-align: left;
        margin: 5%;
    }
}

.no-textshadow .logo {
    filter: dropshadow(color=#000000, offX=3, offY=3);
}
