@font-face {
    font: {
        family: logo-font;
        weight: normal;
        style: normal;
    }
    src: url("../fonts/russo_one.woff") format("woff"),
    url("../fonts/russo_one.ttf") format("truetype");
}
