@font-face {
    font-family: default-font;
    font-weight: normal;
    font-style: normal;
    src: url("../public/fonts/belleza_regular.woff") format("woff"),
    url("../public/fonts/belleza_regular.ttf") format("truetype");
}
