@font-face {
    font-family: logo-font;
    font-weight: normal;
    font-style: normal;
    src: url("../public/fonts/russo_one.woff") format("woff"),
    url("../public/fonts/russo_one.ttf") format("truetype");
}
