@font-face {
    font-family: "logo-font";
    font-weight: normal;
    font-style: normal;
    src: url("../fonts/russo_one.woff") format("woff"),
         url("../fonts/russo_one.ttf") format("truetype");
}
@font-face {
    font-family: "default-font";
    font-weight: normal;
    font-style: normal;
    src: url("../fonts/belleza_regular.woff") format("woff"),
         url("../fonts/belleza_regular.ttf") format("truetype");
}