
body {
    margin : 0;
    -webkit-touch-callout: none;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    -webkit-text-size-adjust: none;
    -webkit-user-select : none;
}

#game {
    position : absolute;
    left : 0;
    top : 0;
    font-size : 32px;
    width : 10em;
    height : 15em;
    background-color : #C5CADF;
    background-image: url("../backgrounds/bg.png");
    background-repeat: no-repeat;
    background-size: cover;
    font-family : default-font;
    color : rgb(200,200,100);
}

#game .screen {
    position : absolute;
    width : 100%;
    height : 100%;
    display : none;
    z-index : 10;
}

#game .screen.active {
    display : block;
}


#splash-screen {
    text-align : center;
    padding-top : 2.5em;
}
#splash-screen .continue {
    cursor : pointer;
    font-size : 0.75em;
    font-weight: bold;
    text-shadow: 2px 2px 3px black;
}
.logo {
    font-family : logo-font;
    margin-top: 0.1em;
    margin-bottom : 0.7em;
    text-align : center;
    color : #f1c101;
    font-size : 1.7em;
    line-height : 0.9em;
    font-weight: normal;
    
    text-shadow: -1px -1px 1px #b69202,
                  1px 1px 1px #b69202,
                 -4px -4px 0px #000,
                  3px -4px 0px #000,
                  3px 3px 0px #000,
                 -4px 3px 0px #000,
                  5px 5px 7px #000,
                 -3px 5px 7px #000;
}

.no-textshadow .logo {
    filter : dropshadow(color=#000000,offX=3,offY=3);
}


/* Main menu styles */
#main-menu {
    padding-top : 0.5em;
}

#play-menu {
    padding-top : 0.5em;
}

ul.menu {
    text-align : center;
    margin : 0;
    padding : 0;
    list-style : none;
}

ul.menu li {
    margin : 0.6em 0;
}

button {
    background : none;
    border: none;
    font-size: 20px;
    font-family: 'Russo One', sans-serif;
    background-size: 170px 39px;
    width: 176px;
    height: 45px;
    border: solid 2px rgba(0, 0, 0, 0.5);
    border-radius : 0.7em;
}

button.back {
    background-image : url("../svg/jewel_red.svg");
    background-color: red;
}

ul.menu li button.bt_blue {
    background-image: url("../svg/jewel_blue.svg");
    background-color: blue;
}

ul.menu li button.bt_green {
    background-image: url("../svg/jewel_green.svg");
    background-color: green;
}

ul.menu li button.bt_yellow {
    background-image: url("../svg/jewel_yellow.svg");
    background-color: yellow;
}

ul.menu li button.bt_red {
    background-image: url("../svg/jewel_red.svg");
    background-color: red;
}

ul.menu li button.bt_purple {
    background-image: url("../svg/jewel_purple.svg");
    background-color: purple;
}

ul.menu li button.bt_orange {
    background-image: url("../svg/jewel_orange.svg");
    background-color: orange;
}

ul.menu li button:hover {
}

ul.menu li button:active {
    color : #3d3d3d;
    border : 0.15em solid #3d3d3d;
}

/* Install screen for iOS devices */
#install-screen  {
    padding-top : 0.5em;
    text-align : center;
}

#install-screen span {
    font-size : 0.75em;
    display : inline-block;
    padding : 0 0.5em;
}

/* temporary lame representation of the board */

table#board {
    width: 100%;
    position: absolute;
    top: 50px;
    font-size: 25px;
}

table#board td {
    border: solid 2px rgba(0, 0, 0, 0.5);
    background: rgba(0, 0, 0, 0.5);
    height: 35px;
    width: 50%;
    border-radius: 10px;
    padding-left: 5px;
}

table#board td.selected {
    border: solid 2px rgba(255, 255, 255, 0.7);
}

table#board td.group1 {
    background: blue;
}

table#board td.group2 {
    background: green;
}

table#board td.group3 {
    background: orange;
    color: navy;
}

table#board td.group4 {
    background: purple;
}

table#board td.group5 {
    background: red;
}

table#board td.group6 {
    background: yellow;
    color: navy;
}

table#board td.group7 {
    background: navy;
}

table#board td.group8 {
    background: #093;
}

table#board td.group9 {
    background: #750;
}

table#board td.group10 {
    background: #505;
}

table#board td.group11 {
    background: #500;
}

table#board td.group12 {
    background: #880;
}
