body {
    margin : 0;
}

#top-container {
    position : absolute;
    left : 0;
    top : 0;
    font-size : 0;
    width : 320em;
    height : 480em;
    background-color : #C5CADF;
    background-image: url("../backgrounds/bg.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    font-family : default-font;
    color: #C8C864;
}

#top-container .screen {
    position : absolute;
    width : 100%;
    height : 100%;
    display : none;
    z-index : 10;
}

#top-container .screen.active {
    display : block;
    overflow: hidden;
}

.screen-content {
    background-color: rgba(0, 0, 0, 0.6);
    box-shadow: 3em 3em 10em #000;
    border-radius: 5%;
    height: 300em;
    padding: 5%;
    margin: 5%;
}

.screen-content h3 {
    color: #f1c101;
    text-align: center;
    margin-top: 0;
    font-size: 24em;
    font-weight: bold;
    text-shadow: 0.05em 0.05em 0.1em black;
}

.small-text {
    font-size: 12em;
    font-weight: bold;
    text-shadow: 0.05em 0.05em 0.1em black;
}

.medium-text {
    font-size: 20em;
    font-weight: bold;
    text-shadow: 0.05em 0.05em 0.1em black;
}

select {
    font-size: 12em;
    font-weight: bold;
}

.hidden {
    visibility: hidden;
}

#splash-screen {
    text-align : center;
}
#splash-screen .logo {
    margin-top: 2.5em;
}
#splash-screen .spinner {
    position: relative;
}
#splash-screen .continue {
    cursor : pointer;
    font-size : 24em;
    font-weight: bold;
    text-shadow: 0.05em 0.05em 0.1em black;
}
.logo {
    font-family : logo-font;
    margin-top: 1em;
    margin-bottom : 1em;
    text-align : center;
    color : #f1c101;
    font-size : 54em;
    line-height: 1em;
    font-weight: normal;
    text-shadow: -0.02em -0.02em 0.02em #b69202,
                  0.01em  0.01em 0.02em #b69202,
                 -0.05em -0.05em 0      #000,
                 -0.05em  0.05em 0      #000,
                  0.05em -0.05em 0      #000,
                  0.05em  0.05em 0      #000,
                  0.05em  0.07em 0.06em #000,
                 -0.05em  0.07em 0.06em #000;
}

.no-textshadow .logo {
    filter : dropshadow(color=#000000,offX=3,offY=3);
}

.logo.small {
    font-size: 20em;
    text-align: left;
    margin: 5%;
}


/* Main menu styles */

#main-menu .logo {
    margin: 0.75em 0;
}

ul.menu {
    text-align : center;
    margin : 0;
    padding : 0;
    list-style : none;
}

ul.menu li {
    margin : 12em 0;
}

button {
    font-size: 20em;
    font-family: 'Russo One', sans-serif;
    background-image: url("../images/jewel.svg");
    background-size: 9em 2.03em;
    background-position: center;
    width: 9em;
    height: 2em;
    border: solid 0.1em rgba(0, 0, 0, 0.5);
    border-radius : 0.4em;
}

button.continue {
    background-color: green;
}

button.back {
    background-color: red;
}

ul.menu li button.bt_blue {
    background-color: blue;
}

ul.menu li button.bt_green {
    background-color: green;
}

ul.menu li button.bt_yellow {
    background-color: yellow;
}

ul.menu li button.bt_red {
    background-color: red;
}

ul.menu li button.bt_purple {
    background-color: purple;
}

ul.menu li button.bt_orange {
    background-color: orange;
}

ul.menu li button:hover {
}

ul.menu li button:active {
    color : #3d3d3d;
    border : 0.15em solid #3d3d3d;
}


/* temporary lame representation of the board */

table#board {
    width: 100%;
    position: absolute;
    bottom: 0;
    border-spacing: 0;
}

#overlay {
  display: none;
  position: absolute;
  bottom: 0;
  z-index: 32000;
  width: 100%;
  height: 415em;
  background-color: #000;
  opacity: 0.5;
}

#overlay.visible {
  display: block;
}

table#board td {
    border: solid 0.1em rgba(0, 0, 0, 0.5);
    background-image: url("../images/jewel.svg");
    background-size: 100% 100%;
    height: 1.3em;
    font-size: 18em;
    text-align: center;
    color: #000;
    width: 50%;
    border-radius: 0.5em;
    padding: 0.4em;
}

table#board td.selected {
    border: solid 0.1em rgba(255, 255, 255, 0.7);
}

table#board td.group1 {
    background-color: blue;
}

table#board td.group2 {
    background-color: green;
}

table#board td.group3 {
    background-color: orange;
}

table#board td.group4 {
    background-color: purple;
}

table#board td.group5 {
    background-color: red;
}

table#board td.group6 {
    background-color: yellow;
}

table#board td.group7 {
    background-color: navy;
}

table#board td.group8 {
    background-color: #093;
}

table#board td.group9 {
    background-color: #750;
}

table#board td.group10 {
    background-color: #505;
}

table#board td.group11 {
    background-color: #500;
}

table#board td.group12 {
    background-color: #880;
}

#stats {
    font-size: 16em;
}

/* Learning Stats Screen */

#deck-stats figure, #deck-stats figcaption dl {
    margin: 0;
}

#deck-stats .donut-chart {
    margin: auto;
}

#deck-stats .donut-chart .wedge-value.too-small {
    display: none;
}

#deck-stats figcaption dt {
    display: inline-block;
    width: 1em;
    padding: 0;
    margin: 0;
    height: 1em;
}

#deck-stats figcaption dd {
    margin: 0 0 0 0.5em;
    display: inline;
}

#deck-stats figcaption dd:after{
    display: block;
    content: '';
}


/* Top Scores Screen */

#top-scores table {
    width: 100%;
}
#top-scores thead td {
    font-size: 20em;
    font-weight: bold;
    text-align: center;
}
#top-scores tbody td {
    font-size: 18em;
    text-align: right;
    padding: 0 1em 0 0;
    font-family: Courier, monospace;
    font-weight: bold;
}
#top-scores tbody tr:nth-child(odd) {
    background-color: rgba(0,0,0,0.5);
}

/* Settings Screen */

#settings label {
    display: block;
    margin: 0.5em;
    text-align: center;
}
#settings select {
    display: block;
    margin: auto;
}
